<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/signin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/00ee24977f.js" crossorigin="anonymous"></script>
    <title>Reset Password</title>
</head>

<body>
    <nav>
        <h3 class="logo"> <a href="/"><span class="pedal">Pedal</span>рдкреЗ
                <p> <span class="pedal">ZERO EMISSION,</span>ZERO EXCUSES</p>
                </a>
        </h3>
    </nav>


    <div class="signinbox">
        <% 
    if(typeof message != 'undefined') {
        %>
            <h4>
                <%=message%>
            </h4>
            <%
    }
    %>
                <h2 style="font-weight:lighter">Reset Password</h2>
                <p>Enter new password</p>
                <form action="/resetpassword" method="post">
                    <input type="password" name="password" id="password" placeholder="Password"><br>
                    <input type="password" id="confirm_password" placeholder="Confirm password">
                    <br>
                    <input type="hidden" name="user_id" value="<%=user_id%>">
                    <input type="submit" value="Reset">

                </form>
    </div>
    <div class="center">
        <p>Don't have an account? <a href="/signup">Sign Up</a></p>
        <p><a href="/forgot">Forgot password</a></p>
    </div>
    
    <script>
        var password = document.getElementById("password"),
            confirm_password = document.getElementById("confirm_password");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>




</body>

</html>