<% include('../layouts/header.ejs') %>


<h1>New password</h1>
<% 
    if(typeof message != 'undefined') {
        %>
        <h4><%=message%></h4>
        <%
    }
    %>

<form action="/resetPassword" method="post">
    <input type="password" name="password" placeholder="New Password" required>
    <br><br>
     <input type="hidden" name="user_id" value="<%=user_id%>">
    <input type="submit" value="Reset">
</form>



<% include('../layouts/footer.ejs') %>