<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/wallet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/00ee24977f.js" crossorigin="anonymous"></script>
    <title>Wallet</title>
</head>

<body>
    <nav>
        <h3 class="logo"> <a href="/"><span class="pedal">Pedal</span>पे
                <p> <span class="pedal">ZERO EMISSION,</span>ZERO EXCUSES</p>
                </a>
        </h3>

        <div class="navbar">
            <ul>
                <li> <a href="/">Home</a> </li>
                <li> <a href="/startride">Ride</a></li>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/about">About</a></li>
                <li>
                    <% if(typeof user!== 'undefined'){%>
                        <%=user.name%>  
                        <%}%>
                </li>
            </ul>
        </div>
        <%if(typeof message != 'undefined'){
            %>
        <p Style="color:white; text-align: center;">
            <%=message%>
        </p>
        <%
            }
        %>
        <div class="container">
            <div class="left column">
                <img src="images/waller.png" alt="">
            </div>
            <div class="right column">
                <div class="balance">

                    <p>Your current balance</p>
                    <h1 class="bluecolor">₹ <%=user.balance%></h1>
                    <p>Last ride</p>
                    <h1 class="bluecolor">₹ <%=user.lastride%></h1>
                    <button id="rzp-button1">Add 50</button>
                    
                </div>
            </div>
        </div>
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <script>
        var options = {
            "key": "rzp_test_oVRiJDhZVjgwcn", // Enter the Key ID generated from the Dashboard
            "amount": "5000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",

            "order_id": orderId, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "callback_url": "/add50",
        };
        var rzp1 = new Razorpay(options);
        document.getElementById('rzp-button1').onclick = function(e){
            rzp1.open();
            e.preventDefault();
        }
    var orderId ;
$(document).ready(function(){
    var settings = {
  "url": "/create/orderId",
  "method": "POST",
  "timeout": 0,
  "headers": {
    "Content-Type": "application/json"
  },
  "data": JSON.stringify({
    "amount": "5000"
  }),
};

//creates new orderId everytime
$.ajax(settings).done(function (response) {

  orderId=response.orderId;
  console.log(orderId);
  $("button").show();
});
});

  
   
   </script>


</body>

</html>